html {
  font-size: 14px;
  background: #f6f7eb;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.header > h1 {
  margin-top: 2.5rem;
  padding: 0.8rem;
  color: #393e41;
}

.result {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 10vh;
}

.result > h3 {
  padding: 0.3rem;;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.4rem;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  min-height: 12vh;
}

.choice {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 10vh;
  font-size: 20px;
  color: #393e41;
}

.buttons {
  display: flex;
  flex: 1;
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 1rem;
  width: 10rem;
  height: 6.5rem;
  border-style: none;
  border-radius: 1.3rem;
  transition-duration: 0.2s;
}

button:hover {
  width: 10.5rem;
  height: 7rem;
}

button:hover + .label {
  display: block;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: #393e41;
  margin-top: -0.3rem;
  display: none;
}

button:focus, button:focus + .label {
  outline: none;
  display: block;
  color: #e94f37;
}

.rock {
  background-image: url("../images/rock.png"), linear-gradient(-10deg, #3f88c5, #44bba4);
  background-position: center;
  background-repeat: no-repeat;
}

.rock:hover {
  transform: scale(1.1);
  margin-right: 0.5rem;
}

.rock:focus {
  transform: scale(1.1);
  margin-right: 0.5rem;
}

.paper {
  background: url("../images/paper.png"), linear-gradient(0deg, #3f88c5, #44bba4);
  background-position: center;
  background-repeat: no-repeat;
}

.paper:hover {
  transform: scale(1.1);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.paper:focus {
  transform: scale(1.1);
  margin-left: 0.95rem;
  margin-right: 0.95rem;
}

.scissors {
  background: url("../images/scissors.png"), linear-gradient(10deg, #3f88c5, #44bba4);linear-gradient(135deg, #e66465, #9198e5);
  background-position: center;
  background-repeat: no-repeat;
}

.scissors:hover {
  transform: scale(1.1);
  margin-left: 0.5rem;
}

.scissors:focus {
  transform: scale(1.1);
  margin-left: 0.5rem;
}

.reload {
  background: url("../images/reload.png"), linear-gradient(10deg, #3f88c5, #44bba4);linear-gradient(135deg, #e66465, #9198e5);
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.reload:hover {
  transform: scale(1.1);
  margin-left: 0.5rem;
}

.reload:focus {
  transform: scale(1.1);
  margin-left: 0.5rem;
}